<nav class="navigation" role="navigation">
  <%= link_to(
          'Overview',
          [:annotator, :root],
          class: "navigation__link navigation__link--#{annotator_root_path == request.path ? 'active' : 'inactive'}"
      ) %>
  <%= link_to(
          'Codes',
          annotator_annotator_store_tags_path(creator_id: current_user.id),
          class: "navigation__link navigation__link--#{nav_link_state('annotator_store__tags')}"
      ) %>
  <%= link_to(
          'Topics',
          [:annotator, :topics],
          class: "navigation__link navigation__link--#{nav_link_state('topics')}"
      ) %>

  <% annotations_link_state = [
      nav_link_state('annotator_store__text_annotations'),
      nav_link_state('annotator_store__image_annotations'),
      nav_link_state('annotator_store__video_annotations')
  ].include?(:active) ? :active : :inactive
  %>
  <%= link_to(
          'Annotations',
          [:annotator_annotator_store, :annotations],
          class: "navigation__link navigation__link--#{annotations_link_state}"
      ) %>
  <%= link_to(
          'Languages',
          [:annotator_annotator_store, :languages],
          class: "navigation__link navigation__link--#{nav_link_state('annotator_store__languages')}"
      ) %>
  <%= link_to(
          'User Settings',
          [:annotator_annotator_store, :user_settings],
          class: "navigation__link navigation__link--#{nav_link_state('annotator_store__user_settings')}"
      ) %>
  <%= link_to(
          'Settings',
          [:annotator_annotator_store, :setting],
          class: "navigation__link navigation__link--#{nav_link_state('annotator_store__settings')}"
      ) %>
</nav>
