<nav class="navigation" role="navigation">
  <%= link_to(
              'Overview',
              [:annotator, :root],
              class: "navigation__link navigation__link--#{annotator_root_path == request.path ? 'active' : 'inactive'}"
      ) %>
  <%= link_to(
              'Codes',
              [:annotator_annotator_store, :tags],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__tags')}"
      ) %>
  <%= link_to(
        'Topics',
        [:annotator, :topics],
        class: "navigation__link navigation__link--#{nav_link_state('topics')}"
      ) %>
  <%= link_to(
              'Annotations',
              [:annotator_annotator_store, :annotations],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__annotations')}"
      ) %>
  <%= link_to(
              'Languages',
              [:annotator_annotator_store, :languages],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__languages')}"
      ) %>
  <%= link_to(
              'User Settings',
              [:annotator_annotator_store, :user_settings],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__user_settings')}"
      ) %>
</nav>
