<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field field-unit--tag-id-field">
  <%
    language = AnnotatorStore::UserSetting.language_for_user(current_user)
    tag = field.resource.tag
  %>
  <%= f.select(field.permitted_attribute, nil) do %>
    <% if tag.present? %>
      <option value="<%= tag.id %>" selected="selected">
        <%= "#{tag.localized_name_with_path(language)} (by #{tag.creator&.username})" %>
      </option>
    <% end %>
  <% end %>
</div>



<script>
    // belongs_to form
    $(function () {
        $(".field-unit--tag-id-field select").each(function initializeSelectize(index, element) {
            var $element = $(element);
            $element.selectize({
                valueField: 'id',
                labelField: 'localized_path',
                searchField: 'localized_path',
                create: false,
                searchUrl: "/annotator/autosuggest_codes.json" + '?code_id=<%= field.resource.id %>&q=',
                load: function (query, callback) {
                    if (!query.length) return callback();
                    var searchUrl = this.settings.searchUrl;
                    $.ajax({
                        url: searchUrl + encodeURIComponent(query),
                        type: 'GET',
                        error: function () {
                            callback();
                        },
                        success: function (res) {
                            callback(res);
                        }
                    });
                },
            });
        });
    });
</script>

