<li>
  <span>
    <% if tag.children.any? %>
        <i class="fa fa-minus-circle" style="color:#aaa;"></i>
    <% end %>
    <% dc = tag.descendants_annotations_count %>
    <strong class="item" title="<%= "#{tag.annotations_count} annotations use this code#{" + #{dc} descendant annotations use this code" if dc > 0}." %>">
      <%= tag.name %>
      <%= "(#{tag.annotations_count}#{" + #{dc}" if dc > 0 })" %>
    </strong>
  </span>
  <%= "by #{tag.creator.username}" unless params[:creator_id].present? %>
  <%= link_to('Show', [namespace, tag], class: "action-edit") %> |
  <%= link_to('Edit', [:edit, namespace, tag], class: "action-edit",) %> |
  <%= link_to('Annotations', annotator_annotator_store_annotations_path(code_id: tag.id), class: "action-edit",) %> |
  <%= link_to('Merge', edit_annotator_annotator_store_tag_path(tag.id, merge: true), class: "action-edit") %>
  <% if tag.is_childless? %>
    |
    <%= link_to(
          'Destroy',
          [namespace, tag],
          class: "text-color-red",
          method: :delete,
          data: {confirm: "Are you sure? This tag has #{tag.annotations_count} annotations which will also be deleted."}
        ) %>
  <% end %>

  <% if tag.children.any? %>
    <ul>
      <% tag.children.with_localized_tags(language: AnnotatorStore::UserSetting.language_for_user(current_user)).each do |tag| %>
        <%= render 'tree_item', tag: tag %>
      <% end %>
    </ul>
  <% end %>
</li>
