<table>
  <thead>
  <tr>
    <th></th>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Creator</th>
    <th scope="col">Annotations</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <% resources.each do |code| %>
    <tr id="code-row-<%= code.id %>">
      <td>
        <input type="checkbox" id="code-<%= code.id %>" data-id="<%= code.id %>"/>
      </td>
      <td><%= code.id %></td>
      <td><%= link_to(code.name_with_path, [namespace, @project, code], class: "link-primary") %></td>
      <td><%= "by #{code.creator.username}" %></td>
      <td><%= code.annotations_count %></td>
      <td>
        <%= link_to('Edit', [:edit, namespace, @project, code], class: "link-primary",) %>
      </td>
      <td>
        <%= link_to('Merge', [:merge, namespace, @project, code], class: "link-primary") %>
      </td>
      <td>
        <%= link_to('Copy', [:copy, namespace, @project, code], method: :put, class: "link-primary") %>
      </td>
      <td>
        <% if code.is_childless? %>
          <%= render 'action_delete', namespace: namespace, code: code %>
        <% end %>
      </td>
      <td>
        <%= link_to('Annotations', annotator_discourse_annotator_project_annotations_path(project_id: @project.id, code_id: code.id), class: "link-primary") %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>