<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">Codes</h1>
  <% if show_search_bar %>
    <%= render('search', search_term: params[:search], resource_name: 'Codes') %>
  <% end %>
  <div>
    <%= link_to("New Code", [:new, namespace, @project, :code], class: "button") %>
  </div>
</header>

<section class="main-content__body main-content__body--flush">
  <div class="annotator-filter-nav">
    <%= render '/lib/filter_user',
               name: 'Creator',
               filter: :creator_id,
               users: User.where(id: DiscourseAnnotator::Code.select(:creator_id)).order('LOWER(username)') %>
    <%= render '/lib/sort_by', options: { path: 'Path', name: 'Name', created_at: 'Newest', updated_at: 'Updated', annotations_count: 'Number of annotations' } %>
    <%= render 'lib/codes_view_nav' %>
    <!--    <a href="<%#= request.path %>" target="_blank">Export current list</a>-->
  </div>

  <% if !params[:view] ||  params[:search].present? %>
      <%= render 'bulk_editing_form' %>
  <% end %>

  <div id="codes-collection">
    <% if params[:search].present? %>
      <%= render 'search_results', resources: resources, namespace: namespace %>
    <% elsif params[:view] == 'translate' %>
      [temporarily unavailable]
      <%# render 'translate', resources: resources, namespace: namespace %>
    <% elsif params[:view] == 'list' %>
      <%= render 'list', codes: resources %>
    <% elsif params[:view] == 'table' %>
      <%= render 'table', codes: resources %>
    <% else %>
      <%= render 'tree', codes: resources %>
    <% end %>
  </div>

  <%#= paginate resources, param_name: '_page' %>
  <%= paginate resources %>
</section>
