<%= render "header", page_title: "Show code \"#{page.resource.localized_name_with_path}\"",  action: :show, page: page %>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |attribute| %>
      <dt class="attribute-label" id="<%= attribute.name %>">
        <%= t(
              "helpers.label.#{resource_name}.#{attribute.name}",
              default: attribute.name.titleize,
              ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%>">
        <%= render_field attribute, page: page %>
      </dd>
    <% end %>
  </dl>
</section>