<% content_for :javascript do %>
  <%= stylesheet_link_tag "annotator_store/application", media: "all" %>
  <%= javascript_include_tag "annotator_store/application" %>
  <%= render 'annotator/lib/annotate_js', current_user: @current_user %>
<% end %>

<% content_for :stylesheet do %>
  <style type="text/css">
    <% annotations = AnnotatorStore::Annotation.where(topic_id: @topic_view.topic.id).where.not(creator_id: @current_user.id) %>
    <% if annotations.present? %>
    <%= annotations.map {|annotation| "[data-annotation-id=\"#{annotation.id}\"]"}.join(', ').html_safe + "{ background-color: rgba(182, 223, 236, 0.3) !important; }" %>
    <% end %>
  </style>
<% end %>



<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="topic-<%= @topic_view.topic.id %>-title">
    <%= @topic_view.topic.title %>
  </h1>

  <script>
      loadAnnotator('#topic-<%= @topic_view.topic.id %>-title', '/topic/<%= @topic_view.topic.id %>');
  </script>
</header>

<section class="main-content__body">

  <% @topic_view.posts.each do |post| %>
    <%= render '/annotator/posts/post', post: post %>
  <% end %>


  <% if @topic_view.prev_page || @topic_view.next_page %>
    <div role='navigation' itemscope itemtype='http://schema.org/SiteNavigationElement'>
      <% if @topic_view.prev_page %>
        <span itemprop='url'><%= link_to t(:prev_page), annotator_topic_path(@topic_view.topic.id, page: @topic_view.prev_page), rel: 'prev', itemprop: 'name' %></span>
      <% end %>
      <% if @topic_view.next_page %>
        <span itemprop='url'><b><%= link_to t(:next_page), annotator_topic_path(@topic_view.topic.id, page: @topic_view.next_page), rel: 'next', itemprop: 'name' %></b></span>
      <% end %>
    </div>
  <% end %>

</section>

